.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #17161D;
  padding: 20px 0;
}

.menu__logo {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 24px;
}

.menu__link {
  font-size: 20px;
  font-weight: 500;
  margin-left: 24px;

  transition: color 0.3s;
}

.menu__link:hover {
  color: #FF0A54;
}