.background {
  background-color: #121219;
  border-radius: 4px;
}

.skill {
  text-align: center;
}

.skill__image {
  padding: 20px;
  border: 2px solid #131219;
}

.skill__tittle {
  margin-top: 10px;
  padding: 5px 0;
  font-size: 18px;
  border: 2px solid #FF0A54;
  transform: translateY(-20px);
  opacity: 0;

  transition: all 0.2s;
}

.skill:hover > .skill__tittle {
  opacity: 1;
  transform: translateY(0);
}