.small {
  font-size: 20px;
}

.normal {
  font-size: 28;
}

.heading--bottom {
  text-align: center;
  border-bottom: 1px solid #33333c;
}

.line--bottom {
  padding-bottom: 20px;
  display: inline-block;
  border-bottom: 1px solid #FF0A54;
}