.link {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 60px;
  background: linear-gradient(to left, rgba(255, 10, 84, 0.7) 0%, transparent 100%);
  border: 1px solid #FF0A54;
  border-radius: 4px;
}

.link:hover {
  padding: 8px 90px;
  background: linear-gradient(to left, rgba(255, 10, 84) 0%, transparent 100%);
}